@model EntityLayer.Entities.Kategori

@{
    ViewData["Title"] = "AdminKategoriDetay";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Kategori Detay</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriDurumu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AdminKategoriDuzenle" asp-route-id="@Model?.KategoriID">Düzenle</a> |
    <a class="btn btn-outline-google" asp-action="AdminKategoriListeleme">Listeye Geri Dön</a>
</div>
