<div id="services" class="services">
	<div class="container">
		<h3 class="w3title">Services</h3>
		<p class="wthree-ttext">
			Vel illum qui dolorem eum aliquid ex ea commodi consequatur
			vel illum qui dolorem eum fugiat quo voluptas
		</p>
		<div class="services-w3lsrow">
			<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
				<div class="icon-holder hexagon">
					<span class="fa fa-gears icon" aria-hidden="true"></span>
				</div>
				<h4>Fugiat Quo</h4>
				<p>Phasellus at placerat ante nulla adipiscing elit</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
				<div class="w3agile-servs-img">
					<div class="icon-holder hexagon">
						<span class="fa fa-group icon" aria-hidden="true"></span>
					</div>
					<h4>Voluptas </h4>
					<p>Phasellus at placerat ante nulla adipiscing elit</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
				<div class="w3agile-servs-img">
					<div class="icon-holder hexagon">
						<span class="fa fa-briefcase icon" aria-hidden="true"></span>
					</div>
					<h4>Quo fugiat</h4>
					<p>Phasellus at placerat ante nulla adipiscing elit</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
				<div class="w3agile-servs-img">
					<div class="icon-holder hexagon">
						<span class="fa fa-list-alt icon" aria-hidden="true"></span>
					</div>
					<h4>Corrupti</h4>
					<p>Phasellus at placerat ante nulla adipiscing elit</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>