@using EntityLayer.Entities
@model List<Hizmetler>
<div id="services" class="services">
	<div class="container">
		<h3 style="margin-top:90px"class="w3title">Hizmetlerimiz</h3>
		<p class="wthree-ttext">
			Emlak, Bilgi, Güven.
		</p>
		<div class="services-w3lsrow">
			@foreach (var item in Model)
			{
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder hexagon">
							<span class="fa fa-briefcase icon" aria-hidden="true"></span>
						</div>
						<h4>@item.HizmetAdi</h4>
						<p>@item.HizmetAciklamasi</p>
					</div>
				</div>
			}
			<div class="clearfix"> </div>
		</div>
	</div>
</div>