@using EntityLayer.Entities
@model List<Ilan>
<div id="portfolio" class="services portfolio">
	<div class="container">
		<h3 class="w3title">Kategorilerine Göre İlanlar</h3>
		<div class="gallery_gds">
			<ul class="simplefilter">
				<li class="active" data-filter="all">Hepsi</li>
				<li data-filter="1">Satılık Konut</li>
				<li data-filter="2">Kiralık Konut</li>
				<li data-filter="5">Satılık Ofis</li>
				<li data-filter="6">Kiralık Ofis</li>
			</ul>
			<div class="filtr-container">
				@foreach (var item in Model)
				{
					<div style="height:350px"class="col-md-4 col-sm-4 col-xs-6 filtr-item" data-category="@item.kategori.KategoriID" data-sort="Busy streets">
						<div class="agileits-img" style="height:330px">
							<a style="width:352px;height:330px" href="~/IlanFotograflari/@item.IlanFotografi" class="swipebox" title="İlanlar">
								<img class="img-responsive " src="~/IlanFotograflari/@item.IlanFotografi" alt="" />
								<div class="wthree-pcatn">
									<h3>@item.IlanBasligi</h3>
									<p style="color:white">@item.IlanAciklamasi</p>
									<p style="color:white">@item.IlanFiyati₺</p>
								</div>
							</a>
						</div>
					</div>
				}
			
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>