@model EntityLayer.Entities.Kullanici

@{
    ViewData["Title"] = "AdminKullaniciDuzenle";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Kullanıcı Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminKullaniciDuzenle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KullaniciID" />
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciSoyadi" class="control-label"></label>
                <input asp-for="KullaniciSoyadi" class="form-control" />
                <span asp-validation-for="KullaniciSoyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciEMail" class="control-label"></label>
                <input asp-for="KullaniciEMail" class="form-control" />
                <span asp-validation-for="KullaniciEMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciSifre" class="control-label"></label>
                <input asp-for="KullaniciSifre" class="form-control" />
                <span asp-validation-for="KullaniciSifre" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="KullaniciDurumu" /> @Html.DisplayNameFor(model => model.KullaniciDurumu)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciFotografAdi" class="control-label" for="dosyaYukle"></label>
                <input asp-for="KullaniciFotografAdi" class="form-control-file" type="file" id="dosyaYukle" />
                <span asp-validation-for="KullaniciFotografAdi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-google" asp-action="AdminKullaniciListeleme">Listeye Geri Dön</a>
</div>

