@model EntityLayer.Entities.MusteriMesaj

<div id="contact" class="testimonials contact">
	<div class="container">
		<h3 class="w3title">İletişim</h3>
		<p class="wthree-ttext">
			Siz değerli müşterilerimizin görüşlerine her zaman önem veriyoruz. Sorularınızı, önerilerinizi veya herhangi bir geri bildiriminizi memnuniyetle karşılıyoruz. Ekibimiz, size en iyi hizmeti sunabilmek için burada.
			İhtiyaçlarınızı karşılamak ve sorularınıza yanıt vermek için hızlı bir şekilde harekete geçiyoruz. Lütfen iletişim formunu kullanarak bize ulaşın.
		</p>
		<div class="contact-w3ls-row">
			<form action="/MusteriMesaj/KullaniciMesajGonder" method="post">
				<input asp-for="MusteriAdiSoyadi" type="text" name="MusteriAdiSoyadi" placeholder="Adınız, Soyadınız">
				<input asp-for="MusteriEMail" class="email" name="MusteriEMail" type="text" placeholder="E-Mail">
				<textarea asp-for="MusteriMesajIcerik" name="MusteriMesajIcerik" placeholder="Mesajınız"></textarea>
				<input type="submit" value="GÖNDER">
			</form>
		</div>
	</div>
</div>