<div class="serach-w3agile">
	<div class="container">
		<div class="place-grids">
			<form action="#" method="post">
				<div class="col-md-2 col-xs-4 place-grid">
					<h5>Select City</h5>
					<select class="sel" required="">
						<option value="">All Cities</option>
						<option value="">Los Angeles</option>
						<option value="">New York</option>
						<option value="">Boston</option>
						<option value="">Oakland</option>
						<option value="">Chicago</option>
					</select>
				</div>
				<div class="col-md-2 col-xs-4 place-grid">
					<h5>Price From</h5>
					<select class="sel" required="">
						<option value="">Any</option>
						<option value="">$50,000</option>
						<option value="">$75,000</option>
						<option value="">$100,000</option>
						<option value="">$150,000</option>
						<option value="">$500,000</option>
					</select>
				</div>
				<div class="col-md-2 col-xs-4 place-grid">
					<h5>Price To</h5>
					<select class="sel" required="">
						<option value="">Any</option>
						<option value="">$50,000</option>
						<option value="">$75,000</option>
						<option value="">$100,000</option>
						<option value="">$150,000</option>
						<option value="">$1,000,000</option>
					</select>
				</div>
				<div class="col-md-2 col-xs-4 place-grid">
					<h5>Beds</h5>
					<select class="sel" required="">
						<option value="">Any</option>
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
					</select>
				</div>
				<div class="col-md-2 col-xs-4 place-grid">
					<h5>Baths</h5>
					<select class="sel" required="">
						<option value="">Any</option>
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
					</select>
				</div>
				<div class="col-md-2 col-xs-4 place-grid">
					<input type="submit" value="Search">
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
	</div>
</div>