@model IEnumerable<EntityLayer.Entities.MusteriYorum>
<div class="testimonials">
	<div class="container">
		<h3 class="w3title">Müşterilerimizin Yorumları</h3>
		<section class="slider">
			<div class="flexslider">
				<ul class="slides">
					@foreach (var item in Model)
					{
						<li>
							<div class="testimonials-grid agileinfo">
								<p>
									<h5>@item.MusteriYorumBaslik</h5>
									</p>
								<p style="color:white">@item.MusteriYorumIcerik</p>
								<h5>@item.kullanici.KullaniciAdi @item.kullanici.KullaniciSoyadi</h5>
							</div>
						</li>
					}
				</ul>
			</div>
		</section>
		<!-- FlexSlider -->
		<script defer src="~/UILayout/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(window).load(function () {
				$('.flexslider').flexslider({
					animation: "slide",
					start: function (slider) {
						$('body').removeClass('loading');
					}
				});
			});
		</script>
		<!-- End-slider-script -->
	</div>
</div>