@using EntityLayer.Entities
@model List<Haber>
<div class="news" id="news">
	<div class="container">
		<h3 class="w3title">Haberler ve Kampanyalar</h3>
		<p class="wthree-ttext">
			Kampanyalarımızı takip edin.
		</p>
		<div class="news-wthreegrid">
			@foreach (var item in Model)
			{
				<div style="margin-bottom:50px"class="news-grid-left">
					<div class="col-md-3 col-xs-3">
						<img style="width:180px;height:150px;padding-right:10px"src="~/HaberFotograflari/@item.HaberFotografi" />
					</div>
					<div class="col-md-9 col-xs-9 date-info">
						<h5>@item.HaberBaslik</h5>
						<p>@item.HaberKisaIcerik</p>
						<p>@item.HaberUzunIcerik</p>
						<p>Haber Tarihi : @item.HaberTarihi</p>
						
					</div>
					<div class="clearfix"> </div>
				</div>
			}
			
			
		</div>
	</div>
</div>