<div class="w3-agileaddress">
	<div class="container">
		<div class="col-md-4 col-xs-4 address-grids">
			<span class="fa fa-phone" aria-hidden="true"></span>
			<p> +01 111 222 3333</p>
		</div>
		<div class="col-md-4 col-xs-4 address-grids">
			<span class="fa fa-map-marker" aria-hidden="true"></span>
			<p>1025 Broome St, Canada, <br> NY 10002, New York </p>
		</div>
		<div class="col-md-4 col-xs-4 address-grids">
			<span class="fa fa-envelope" aria-hidden="true"></span>
			<p><a href="mailto:doganbrkblr@gmail.com"> doganbrkblr@gmail.com</a></p>
		</div>
	</div>
</div>