
<div id="home" class="w3ls-banner">
	<div class="header">
		<div class="container">
			<div class="logo">
				<h1><a href="index.html">Real Estate</a></h1>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<nav class="cd-stretchy-nav edit-content">
		<a class="cd-nav-trigger" href="#0"> Menu <span aria-hidden="true"></span> </a>
		<ul>
			<li><a href="#home" class="scroll"><span>Arama</span></a></li>
			<li><a href="#services" class="scroll"><span>Hizmetlerimiz</span></a></li>
			<li><a href="#about" class="scroll"><span>Hakkımızda</span></a></li>
			<li><a href="#portfolio" class="scroll"><span>Kategoriler</span></a></li>
			<li><a href="#blog" class="scroll"><span>İlanlar</span></a></li>
			<li><a href="#news" class="scroll"><span>Haberler</span></a></li>
			<li><a href="#contact" class="scroll"><span>İletişim</span></a></li>
		</ul>
		<span aria-hidden="true" class="stretchy-nav-bg"></span>
	</nav>
	<div class="banner-w3ltext">
		<div class="container">
			<h3> Sizlerle Eşleşen Ev ve Ofisler</h3>
			<h2>HUZUR VEREN MEKANLAR SİZLERİ BEKLİYOR</h2>
			<a href="#myModal" class="wthree-btn" data-toggle="modal">DEVAMINI OKU</a>
		</div>
	</div>
</div>
