<div id="contact" class="testimonials contact">
	<div class="container">
		<h3 class="w3title">Contact Us</h3>
		<p class="wthree-ttext">
			Dolorem eum aliquid ex ea commodi vel illumqui consequatur
			vel illum qui dolorem eum fugiat quo voluptas
		</p>
		<div class="contact-w3ls-row">
			<form action="#" method="post">
				<input type="text" name="First Name" placeholder="First Name" required="">
				<input class="email" name="Email" type="text" placeholder="Email" required="">
				<textarea name="Message" placeholder="Message" required=""></textarea>
				<input type="submit" value="SUBMIT">
			</form>
		</div>
	</div>
</div>