<div class="footer">
	<div class="container">
		<div class="social-icon">
			<a href="https://github.com/doganberkblr" class="social-button github"><i class="fa fa-github"></i></a>
			<a href="https://www.linkedin.com/in/doganberkbulur/" class="social-button linkedin"><i class="fa fa-linkedin"></i></a>
		</div>
		<p>© 2023 Dogan Berk BULUR | <a href="https://github.com/doganberkblr">GitHub</a></p>
	</div>
</div>