<div class="footer">
	<div class="container">
		<div class="social-icon">
			<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
			<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
			<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
			<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
			<a href="#" class="social-button skype"><i class="fa fa-skype"></i></a>
		</div>
		<p>© 2017 Realty Expert. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	</div>
</div>