<head>
	<title>Real Estate</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Realty Expert Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="~/UILayout/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="~/UILayout/css/style.css" type="text/css" rel="stylesheet" media="all">
	<link rel="stylesheet" href="~/UILayout/css/swipebox.css">
	<link rel="stylesheet" href="~/UILayout/css/flexslider.css" type="text/css" media="screen" />
	<link href="~/UILayout/css/font-awesome.css" rel="stylesheet">
	<script src="~/UILayout/js/jquery-2.2.3.min.js"></script>
	<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
