<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body modal-spa">
				<img src="~/UILayout/images/Modern Building Logo.png" class="img-responsive" alt="" />
				<h4>Real Estate'in Siz Müşterilerine Getireceği Artı Değerler</h4>
				<p>
					• Güven duyacağınız profesyonel bir ekiple çalışmak.
				</p>
				<p>
					• Değişen piyasa değerleri hakkında sık sık bilgilendirilmek.
				</p>
				<p>
					• Sürekli olarak sizinle ilgilenen bir merkeze sahip olmak.
				</p>
				<p>
					• İkinci el pazarlama ve satış sorumluluklarını üstlenmek. Tüm pazarlama araçlarını(gazete,internet,kendi etki alanımız ve yıllardır hizmet verdiğimiz müşterileri portföyü)kullanarak en kısa zamanda sonuca ulaşmak.
				</p>
				<p>
					• Mevcut kaliteli müşteri portföyünün devamlılığı için, yeni kiracılar ve alıcılar hakkında seçici davranmak.
				</p>
				<p>
					• Uzun vadede gayrimenkullerin değer kazanması ve tercih edilen bir yatırım unsuru haline gelmesi için fiyat politikası yaratmak.
				</p>
			</div>
		</div>
	</div>
</div>