@using EntityLayer.Entities
@model List<Hakkinda>
<div id="about" class="about">
	<div class="container">
		@foreach (var item in Model)
		{
			<div class="col-md-6 about-left">
				<h3 class="w3title">@item.HakkindaBaslik</h3>
				<h4>@item.HakkindaAltBaslik</h4>
				<p>@item.HakkindaIcerik</p>
			</div>
			<div class="col-md-6 about-right">
				<img src="~/UILayout/images/Navy Modern Real Estate instagram post.png" class="img-responsive" alt=" ">
			</div>
		}
		<div class="clearfix"> </div>
	</div>
</div>