@model EntityLayer.Entities.KonutTipi

@{
    ViewData["Title"] = "AdminKonutTipiSil";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Konut Tipi Sil</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KonutTipiAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KonutTipiAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KonutTipiDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KonutTipiDurumu)
        </dd>
    </dl>
    
    <form asp-action="AdminKonutTipiSil">
        <input type="hidden" asp-for="KonutTipiID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a class="btn btn-outline-google" asp-action="AdminKonutTipiListeleme">Listeye Geri Dön</a>
    </form>
</div>
