@model EntityLayer.Entities.Sehir

@{
    ViewData["Title"] = "AdminSehirDuzenle";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Şehir Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminSehirDuzenle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SehirID" />
            <div class="form-group">
                <label asp-for="SehirAdi" class="control-label"></label>
                <input asp-for="SehirAdi" class="form-control" />
                <span asp-validation-for="SehirAdi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SehirDurumu" /> @Html.DisplayNameFor(model => model.SehirDurumu)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-google" asp-action="AdminSehirListeleme">Listeye Geri Dön</a>
</div>

